body{
    color: #000;
    background: #ccc;
    font-family: 'arial';
}

h2 {
    color: #114FB2;
}

.draft ol li {
    padding-top: 3px;
    padding-bottom: 4px;
}

.main {
    background: #fff;
    width: 1000px;
    margin: auto;
    padding: 5px;
    border: 1px solid;
    overflow: auto;
}

.standings-block{
    width: 290px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.name {
    width: 75px;
    float: left;
}

.record{
    width: 30px;
    float: left;
}

.draft-container{
    width: 950px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.draft {
    width: 474px;
    width: padding: 20px;
    float: left;
}

#tabs {
    overflow: auto;
}

#tabs span {
    width: 165px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid;
}

#tabs span:hover {
    background: #CCC;
    cursor: pointer;
}

#tabs .selected {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: none;
}